@charset "UTF-8";
body{
    background-image: linear-gradient(black,#ffde22, #ffd700 );
    background-attachment: fixed;
}
p{
    font-family: "Raleway";
    font-size: 1.1em;
    text-align: justify;
    font-weight: bold;
    text-indent: 20px;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 2em;
}